# Pandas基础

[天池 link->](https://tianchi.aliyun.com/notebook-ai/detail?spm=5176.12282042.0.0.27982042kR36oa&postId=6068)

参考
作者：Little_Rookie
链接：https://www.cnblogs.com/nxld/p/6058591.html
來源：博客园

## 1 数据结构
pandas数据结构 
1. Series - 一维数组 索引自动对齐??
2. DataFrame

### 1.1 创建Series

In [4]:
import numpy as np, pandas as pd
# 1. 一维数组
arr1 = np.arange(10)
# print(arr1,type(arr1))
s1 = pd.Series(arr1)
print(s1,type(s1))

# 2. 字典
dic1 = {'a':10, 'b':20, 'c':30, 'd':40, 'e':50}  #这也算Series？？
print(dic1,type(dic1),pd.Series(dic1))

# 3. 用DataFrame的一行或一列创建

[0 1 2 3 4 5 6 7 8 9] <class 'numpy.ndarray'>
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32 <class 'pandas.core.series.Series'>
{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50} <class 'dict'> a    10
b    20
c    30
d    40
e    50
dtype: int64

### 1.2 DataFrame的创建

In [12]:
import numpy as np, pandas as pd
# 1. 通过二维数组创建
arr2 = np.array(np.arange(12)).reshape(4,3)
# print(arr2,type(arr2))
df1 = pd.DataFrame(arr2)
print(df1,type(df1))

# 2. 字典
dic2 = {'a':[1,2,3,4],'b':[4,5,6,7]}
df2 = pd.DataFrame(dic2)
print(df2,type(df2),' <df2')

dic3 = {'one':{'a':1,'b':2,'c':3,'d':4},'two':{'a':4,'b':5,'c':6,'d':7},'tree':{'a':4,'b':5,'c':6,'d':7}}
df3 = pd.DataFrame(dic3)
print(df3,type(df3),' <df3')

# 3. 从 DataFrame 创建 DataFrame
df4 = df3[['one','tree']]
print(df4,type(df4),' <df4')
s3 = df3['one']
print(s3,type(s3),' <s3')

   0   1   2
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11 <class 'pandas.core.frame.DataFrame'>
   a  b
0  1  4
1  2  5
2  3  6
3  4  7 <class 'pandas.core.frame.DataFrame'>  <df2
   one  two  tree
a    1    4     4
b    2    5     5
c    3    6     6
d    4    7     7 <class 'pandas.core.frame.DataFrame'>  <df3
   one  tree
a    1     4
b    2     5
c    3     6
d    4     7 <class 'pandas.core.frame.DataFrame'>  <df4
a    1
b    2
c    3
d    4
Name: one, dtype: int64 <class 'pandas.core.series.Series'>  <s3

## 2 数据索引

### 2.1 通过索引或索引标签获取数据

*如果通过索引标签获取数据的话，末端标签所对应的值是可以返回的！在一维数组中，就无法通过索引标签获取数据，这也是序列不同于一维数组的一个方面。* 这句话怎么理解

In [20]:
import pandas as pd
s4 = pd.Series(np.array([1,1,2,3,4,5]))
s4.index=['a','b','c','d','e','f',]
print(s4,s4.index)
print('s4[3]  ',s4[3])
print("s4['e']  ",s4['e'])
print("s4[[1,3,5]]  ",s4[[1,3,5]])
print("s4[['a','b','e','f']]  ",s4[['a','b','e','f']])
print("s4[:4]  ",s4[:4])
print("s4[:'c']  ",s4[:'c'])
print("s4['b':'e']  ",s4['b':'e'])

a    1
b    1
c    2
d    3
e    4
f    5
dtype: int32 Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')
s4[3]   3
s4['e']   4
s4[[1,3,5]]   b    1
d    3
f    5
dtype: int32
s4[['a','b','e','f']]   a    1
b    1
e    4
f    5
dtype: int32
s4[:4]   a    1
b    1
c    2
d    3
dtype: int32
s4[:'c']   a    1
b    1
c    2
dtype: int32
s4['b':'e']   b    1
c    2
d    3
e    4
dtype: int32

### 2.2 自动化对齐

In [34]:
import numpy as np, pandas as pd
# 运算时根据索引对齐
s5 = pd.Series(np.array([10,15,20,30,55,80]),index=['a','b','c','d','e','f'])
s6 = pd.Series(np.array([12,11,13,15,14,16]),index=['a','c','g','b','d','f'])
print(s5,s6)
print(s5+s6,s5/s6)

a    10
b    15
c    20
d    30
e    55
f    80
dtype: int32 a    12
c    11
g    13
b    15
d    14
f    16
dtype: int32
a    22.0
b    30.0
c    31.0
d    44.0
e     NaN
f    96.0
g     NaN
dtype: float64 a    0.833333
b    1.000000
c    1.818182
d    2.142857
e         NaN
f    5.000000
g         NaN
dtype: float64

## 3 Pandas查询数据
相当于R语言的subdet,通过布尔索引选区元数据的子集、指定行/列

In [3]:
import pandas as pd
std_dic={
    'Age':[14,13,13,14,14,12,12,15,13,12,11,14,12,15,16,12,15,11,15],
    'Height':[69,56.5,65.3,62.8,63.5,57.3,59.8,62.5,62.5,59,51.3,64.3,56.3,66.5,72,64.8,67,57.5,66.5],
    'Name':['Alfred','Alice','Barbara','Carol','Henry','James','Jane','Janet','Jeffrey','John','Joyce','Judy','Louise','Marry','Philip','Robert','Ronald','Thomas','Willam'],
    'Sex':['M','F','F','F','M','M','F','F','M','M','F','F','F','F','M','M','M','M','M'],
    'Weight':[112.5,84,98,102.5,102.5,83,84.5,112.5,84,99.5,50.5,90,77,112,150,128,133,85,112]
}
student = pd.DataFrame(std_dic)
def find1():
    print('**指定行')
    print(student.head(),' <student.head()')
    print(student.tail(),' <student.tail()')
    print(student.loc[[0,2,4,5,7]],' <student.loc[[0,2,4,5,7]]')#居然是中括号

    print('\n\n**指定列')
    print(student[['Name','Height','Weight']].head()," <student[['Name','Height','Weight']].head()")
    print(student.loc[:,['Name','Height','Weight']].head()," <student.loc[:,['Name','Height','Weight']].head()")

def find2():
    print('\n\n**条件过滤')
    print("12岁以上的女生")
    print(student[(student['Sex']=='F') & (student['Age']>12)]," <student[(student['Sex']=='F') & (student['Age']>12)]")
    print('12岁以上女生的姓名身高体重')
    print(student[(student['Sex']=='F') & (student['Age']>12)][['Name','Height','Weight']])#输出是二维数据就要加双方括号[[]]
    
find1()
find2()

**指定行
   Age  Height     Name Sex  Weight
0   14    69.0   Alfred   M   112.5
1   13    56.5    Alice   F    84.0
2   13    65.3  Barbara   F    98.0
3   14    62.8    Carol   F   102.5
4   14    63.5    Henry   M   102.5  <student.head()
    Age  Height    Name Sex  Weight
14   16    72.0  Philip   M   150.0
15   12    64.8  Robert   M   128.0
16   15    67.0  Ronald   M   133.0
17   11    57.5  Thomas   M    85.0
18   15    66.5  Willam   M   112.0  <student.tail()
   Age  Height     Name Sex  Weight
0   14    69.0   Alfred   M   112.5
2   13    65.3  Barbara   F    98.0
4   14    63.5    Henry   M   102.5
5   12    57.3    James   M    83.0
7   15    62.5    Janet   F   112.5  <student.loc[[0,2,4,5,7]]


**指定列
      Name  Height  Weight
0   Alfred    69.0   112.5
1    Alice    56.5    84.0
2  Barbara    65.3    98.0
3    Carol    62.8   102.5
4    Henry    63.5   102.5  <student[['Name','Height','Weight']].head()
      Name  Height  Weight
0   Alfred    69.0   112.5
1    Alice    56.5    84.0
2  Barbara    65.3    98.0
3    Carol    62.8   102.5
4    Henry    63.5   102.5  <student.loc[:,['Name','Height','Weight']].head()


**条件过滤
12岁以上的女生
    Age  Height     Name Sex  Weight
1    13    56.5    Alice   F    84.0
2    13    65.3  Barbara   F    98.0
3    14    62.8    Carol   F   102.5
7    15    62.5    Janet   F   112.5
11   14    64.3     Judy   F    90.0
13   15    66.5    Marry   F   112.0  <student[(student['Sex']=='F') & (student['Age']>12)]
12岁以上女生的姓名身高体重
       Name  Height  Weight
1     Alice    56.5    84.0
2   Barbara    65.3    98.0
3     Carol    62.8   102.5
7     Janet    62.5   112.5
11     Judy    64.3    90.0
13    Marry    66.5   112.0

## 4 利用pandas的DataFrames进行统计分析
统计分析函数，总和/均值/最小值/最大值

In [4]:
import numpy as np, pandas as pd
d1 = pd.Series(2*np.random.normal(size=100)+3)
d2 = np.random.f(2,4,size = 100)
d3 = np.random.randint(1,100,size = 100)

def statistics():
    print('非空元素计数',d1.count())
    print('min',d1.min())
    print('max',d1.max())
    print('最小值位置',d1.idxmin())
    print('最大值位置',d1.idxmax())
    print('10%分数位置',d1.quantile(0.1))
    print('求和',d1.sum())
    print('均值',d1.mean())
    print('中位数',d1.median())
    print('众数',d1.mode().head(),'...')
    print('方差',d1.var())
    print('标准差',d1.std())
    print('平均绝对偏差',d1.mad())
    print('偏度',d1.skew())
    print('峰度',d1.kurt())
    print('描述性统计指标',d1.describe())# 只能在Seriel 和 DataFrame上使用
    
def myStatistics():
    def stats(x):
        return pd.Series([x.count(),x.min(),x.idxmin(),x.quantile(),x.median(),x.quantile(0.75),
                         x.mean(),x.max(),x.idxmax(),x.mad(),x.var(),x.std(),x.skew(),x.kurt()],
                        index=['count','min','idxmin','quantile','median','quantile',
                               'mean','max','idxmax','mad','var','std','skew','kurt'])
    print(stats(d1))
#     print(np.array([d1,d2,d3])[:,:4])
    df = pd.DataFrame(np.array([d1,d2,d3]).T, columns=['x1','x2','x3'])
    print(df.head(),'\n',df.apply(stats)) # 将DataFramed每一列带入函数,统计每一列(Series)的数据
    print(student['Sex'].describe()) # 统计离散数据
    print(student.describe(),' <student.describe()')
    print(df.corr(),' <df.corr()')# 相关系数corr 协方差矩阵cov
    print(df.corr('pearson')," <df.corr('pearson')")# 相关系数 pearson kendell spearman
    # 只关注一个变量于其余变量的关系
    print(df.corrwith(df['x1']))
    # 协方差矩阵
    print(df.cov(),' <head(),df.cov().head()')
    


statistics()
myStatistics()

非空元素计数 100
min -1.4457280227908536
max 8.182962879401638
最小值位置 77
最大值位置 43
10%分数位置 0.8284511114578204
求和 320.2106768762329
均值 3.202106768762329
中位数 3.2003198882445165
众数 0   -1.445728
1   -1.272539
2   -1.008626
3   -0.068813
4    0.024576
dtype: float64 ...
方差 3.869429558614962
标准差 1.967086566121319
平均绝对偏差 1.5512943683169227
偏度 0.004978307677648487
峰度 -0.05053312907563878
描述性统计指标 count    100.000000
mean       3.202107
std        1.967087
min       -1.445728
25%        1.786987
50%        3.200320
75%        4.625533
max        8.182963
dtype: float64
count       100.000000
min          -1.445728
idxmin       77.000000
quantile      3.200320
median        3.200320
quantile      4.625533
mean          3.202107
max           8.182963
idxmax       43.000000
mad           1.551294
var           3.869430
std           1.967087
skew          0.004978
kurt         -0.050533
dtype: float64
         x1        x2    x3
0  3.632922  1.178917  94.0
1  1.127295  7.347663  79.0
2  4.622389  0.304496  87.0
3  0.026839  0.407456  87.0
4  3.553883  0.078710   8.0
                   x1          x2          x3
count     100.000000  100.000000  100.000000
min        -1.445728    0.012238    2.000000
idxmin     77.000000   68.000000   25.000000
quantile    3.200320    0.735140   52.000000
median      3.200320    0.735140   52.000000
quantile    4.625533    1.823525   75.500000
mean        3.202107    2.474331   52.560000
max         8.182963   50.968260   97.000000
idxmax     43.000000    7.000000   56.000000
mad         1.551294    2.784991   22.300000
var         3.869430   43.276383  696.854949
std         1.967087    6.578479   26.398010
skew        0.004978    5.779840   -0.149909
kurt       -0.050533   36.838201   -1.086860
count     19
unique     2
top        M
freq      10
Name: Sex, dtype: object
             Age     Height      Weight
count  19.000000  19.000000   19.000000
mean   13.315789  62.336842  100.026316
std     1.492672   5.127075   22.773933
min    11.000000  51.300000   50.500000
25%    12.000000  58.250000   84.250000
50%    13.000000  62.800000   99.500000
75%    14.500000  65.900000  112.250000
max    16.000000  72.000000  150.000000  <student.describe()
          x1        x2        x3
x1  1.000000 -0.102674  0.002371
x2 -0.102674  1.000000  0.037799
x3  0.002371  0.037799  1.000000  <df.corr()
          x1        x2        x3
x1  1.000000 -0.102674  0.002371
x2 -0.102674  1.000000  0.037799
x3  0.002371  0.037799  1.000000  <df.corr('pearson')
x1    1.000000
x2   -0.102674
x3    0.002371
dtype: float64
          x1         x2          x3
x1  3.869430  -1.328649    0.123115
x2 -1.328649  43.276383    6.564198
x3  0.123115   6.564198  696.854949  <head(),df.cov().head()

## 5 利用pandas实现sql操作

In [14]:
import pandas as pd

print("增加行")
dic = {'Name':['LiuShunxiang','Zhangshan'],'Sex':['M','F'],'Age':[27,23],'Height':[165.7,167.2],'Weight':[61,63]}
student2 = pd.DataFrame(dic)
print(student2)

student3 = pd.concat([student,student2],sort = False)
print(student3)

print("增加列")
print(pd.DataFrame(student2,columns=['Age','Height','Name','Sex','Weight','Score']))

print('删除整个DataFrame')

增加行
           Name Sex  Age  Height  Weight
0  LiuShunxiang   M   27   165.7      61
1     Zhangshan   F   23   167.2      63
    Age  Height          Name Sex  Weight
0    14    69.0        Alfred   M   112.5
1    13    56.5         Alice   F    84.0
2    13    65.3       Barbara   F    98.0
3    14    62.8         Carol   F   102.5
4    14    63.5         Henry   M   102.5
5    12    57.3         James   M    83.0
6    12    59.8          Jane   F    84.5
7    15    62.5         Janet   F   112.5
8    13    62.5       Jeffrey   M    84.0
9    12    59.0          John   M    99.5
10   11    51.3         Joyce   F    50.5
11   14    64.3          Judy   F    90.0
12   12    56.3        Louise   F    77.0
13   15    66.5         Marry   F   112.0
14   16    72.0        Philip   M   150.0
15   12    64.8        Robert   M   128.0
16   15    67.0        Ronald   M   133.0
17   11    57.5        Thomas   M    85.0
18   15    66.5        Willam   M   112.0
0    27   165.7  LiuShunxiang   M    61.0
1    23   167.2     Zhangshan   F    63.0
增加列
   Age  Height          Name Sex  Weight  Score
0   27   165.7  LiuShunxiang   M      61    NaN
1   23   167.2     Zhangshan   F      63    NaN