# Pandas基础

[天池 link->](https://tianchi.aliyun.com/notebook-ai/detail?spm=5176.12282042.0.0.27982042kR36oa&postId=6068)

参考
作者：Little_Rookie
链接：https://www.cnblogs.com/nxld/p/6058591.html
來源：博客园

## 1 数据结构
pandas数据结构 
1. Series - 一维数组 索引自动对齐??
2. DataFrame

### 1.1 创建Series

In [4]:
import numpy as np, pandas as pd
# 1. 一维数组
arr1 = np.arange(10)
# print(arr1,type(arr1))
s1 = pd.Series(arr1)
print(s1,type(s1))

# 2. 字典
dic1 = {'a':10, 'b':20, 'c':30, 'd':40, 'e':50}  #这也算Series？？
print(dic1,type(dic1),pd.Series(dic1))

# 3. 用DataFrame的一行或一列创建

[0 1 2 3 4 5 6 7 8 9] <class 'numpy.ndarray'>
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32 <class 'pandas.core.series.Series'>
{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50} <class 'dict'> a    10
b    20
c    30
d    40
e    50
dtype: int64

### 1.2 DataFrame的创建

In [12]:
import numpy as np, pandas as pd
# 1. 通过二维数组创建
arr2 = np.array(np.arange(12)).reshape(4,3)
# print(arr2,type(arr2))
df1 = pd.DataFrame(arr2)
print(df1,type(df1))

# 2. 字典
dic2 = {'a':[1,2,3,4],'b':[4,5,6,7]}
df2 = pd.DataFrame(dic2)
print(df2,type(df2),' <df2')

dic3 = {'one':{'a':1,'b':2,'c':3,'d':4},'two':{'a':4,'b':5,'c':6,'d':7},'tree':{'a':4,'b':5,'c':6,'d':7}}
df3 = pd.DataFrame(dic3)
print(df3,type(df3),' <df3')

# 3. 从 DataFrame 创建 DataFrame
df4 = df3[['one','tree']]
print(df4,type(df4),' <df4')
s3 = df3['one']
print(s3,type(s3),' <s3')

   0   1   2
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11 <class 'pandas.core.frame.DataFrame'>
   a  b
0  1  4
1  2  5
2  3  6
3  4  7 <class 'pandas.core.frame.DataFrame'>  <df2
   one  two  tree
a    1    4     4
b    2    5     5
c    3    6     6
d    4    7     7 <class 'pandas.core.frame.DataFrame'>  <df3
   one  tree
a    1     4
b    2     5
c    3     6
d    4     7 <class 'pandas.core.frame.DataFrame'>  <df4
a    1
b    2
c    3
d    4
Name: one, dtype: int64 <class 'pandas.core.series.Series'>  <s3

## 2 数据索引

### 2.1 通过索引或索引标签获取数据

*如果通过索引标签获取数据的话，末端标签所对应的值是可以返回的！在一维数组中，就无法通过索引标签获取数据，这也是序列不同于一维数组的一个方面。* 这句话怎么理解

In [20]:
import pandas as pd
s4 = pd.Series(np.array([1,1,2,3,4,5]))
s4.index=['a','b','c','d','e','f',]
print(s4,s4.index)
print('s4[3]  ',s4[3])
print("s4['e']  ",s4['e'])
print("s4[[1,3,5]]  ",s4[[1,3,5]])
print("s4[['a','b','e','f']]  ",s4[['a','b','e','f']])
print("s4[:4]  ",s4[:4])
print("s4[:'c']  ",s4[:'c'])
print("s4['b':'e']  ",s4['b':'e'])

a    1
b    1
c    2
d    3
e    4
f    5
dtype: int32 Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')
s4[3]   3
s4['e']   4
s4[[1,3,5]]   b    1
d    3
f    5
dtype: int32
s4[['a','b','e','f']]   a    1
b    1
e    4
f    5
dtype: int32
s4[:4]   a    1
b    1
c    2
d    3
dtype: int32
s4[:'c']   a    1
b    1
c    2
dtype: int32
s4['b':'e']   b    1
c    2
d    3
e    4
dtype: int32

### 2.2 自动化对齐

In [34]:
import numpy as np, pandas as pd
# 运算时根据索引对齐
s5 = pd.Series(np.array([10,15,20,30,55,80]),index=['a','b','c','d','e','f'])
s6 = pd.Series(np.array([12,11,13,15,14,16]),index=['a','c','g','b','d','f'])
print(s5,s6)
print(s5+s6,s5/s6)

a    10
b    15
c    20
d    30
e    55
f    80
dtype: int32 a    12
c    11
g    13
b    15
d    14
f    16
dtype: int32
a    22.0
b    30.0
c    31.0
d    44.0
e     NaN
f    96.0
g     NaN
dtype: float64 a    0.833333
b    1.000000
c    1.818182
d    2.142857
e         NaN
f    5.000000
g         NaN
dtype: float64

## 3 Pandas查询数据
相当于R语言的subdet,通过布尔索引选区元数据的子集、指定行/列

In [1]:
import pandas as pd
std_dic={
    'Age':[14,13,13,14,14,12,12,15,13,12,11,14,12,15,16,12,15,11,15],
    'Height':[69,56.5,65.3,62.8,63.5,57.3,59.8,62.5,62.5,59,51.3,64.3,56.3,66.5,72,64.8,67,57.5,66.5],
    'Name':['Alfred','Alice','Barbara','Carol','Henry','James','Jane','Janet','Jeffrey','John','Joyce','Judy','Louise','Marry','Philip','Robert','Ronald','Thomas','Willam'],
    'Sex':['M','F','F','F','M','M','F','F','M','M','F','F','F','F','M','M','M','M','M'],
    'Weight':[112.5,84,98,102.5,102.5,83,84.5,112.5,84,99.5,50.5,90,77,112,150,128,133,85,112]
}
student = pd.DataFrame(std_dic)
def find1():
    print('**指定行')
    print(student.head(),' <student.head()')
    print(student.tail(),' <student.tail()')
    print(student.loc[[0,2,4,5,7]],' <student.loc[[0,2,4,5,7]]')#居然是中括号

    print('\n\n**指定列')
    print(student[['Name','Height','Weight']].head()," <student[['Name','Height','Weight']].head()")
    print(student.loc[:,['Name','Height','Weight']].head()," <student.loc[:,['Name','Height','Weight']].head()")

def find2():
    print('\n\n**条件过滤')
    print("12岁以上的女生")
    print(student[(student['Sex']=='F') & (student['Age']>12)]," <student[(student['Sex']=='F') & (student['Age']>12)]")
    print('12岁以上女生的姓名身高体重')
    print(student[(student['Sex']=='F') & (student['Age']>12)][['Name','Height','Weight']])#输出是二维数据就要加双方括号[[]]
    
find1()
find2()

**指定行
   Age  Height     Name Sex  Weight
0   14    69.0   Alfred   M   112.5
1   13    56.5    Alice   F    84.0
2   13    65.3  Barbara   F    98.0
3   14    62.8    Carol   F   102.5
4   14    63.5    Henry   M   102.5  <student.head()
    Age  Height    Name Sex  Weight
14   16    72.0  Philip   M   150.0
15   12    64.8  Robert   M   128.0
16   15    67.0  Ronald   M   133.0
17   11    57.5  Thomas   M    85.0
18   15    66.5  Willam   M   112.0  <student.tail()
   Age  Height     Name Sex  Weight
0   14    69.0   Alfred   M   112.5
2   13    65.3  Barbara   F    98.0
4   14    63.5    Henry   M   102.5
5   12    57.3    James   M    83.0
7   15    62.5    Janet   F   112.5  <student.loc[[0,2,4,5,7]]


**指定列
      Name  Height  Weight
0   Alfred    69.0   112.5
1    Alice    56.5    84.0
2  Barbara    65.3    98.0
3    Carol    62.8   102.5
4    Henry    63.5   102.5  <student[['Name','Height','Weight']].head()
      Name  Height  Weight
0   Alfred    69.0   112.5
1    Alice    56.5    84.0
2  Barbara    65.3    98.0
3    Carol    62.8   102.5
4    Henry    63.5   102.5  <student.loc[:,['Name','Height','Weight']].head()


**条件过滤
12岁以上的女生
    Age  Height     Name Sex  Weight
1    13    56.5    Alice   F    84.0
2    13    65.3  Barbara   F    98.0
3    14    62.8    Carol   F   102.5
7    15    62.5    Janet   F   112.5
11   14    64.3     Judy   F    90.0
13   15    66.5    Marry   F   112.0  <student[(student['Sex']=='F') & (student['Age']>12)]
12岁以上女生的姓名身高体重
       Name  Height  Weight
1     Alice    56.5    84.0
2   Barbara    65.3    98.0
3     Carol    62.8   102.5
7     Janet    62.5   112.5
11     Judy    64.3    90.0
13    Marry    66.5   112.0

## 4 利用pandas的DataFrames进行统计分析
统计分析函数，总和/均值/最小值/最大值

In [4]:
import numpy as np, pandas as pd
d1 = pd.Series(2*np.random.normal(size=100)+3)
d2 = np.random.f(2,4,size = 100)
d3 = np.random.randint(1,100,size = 100)

def statistics():
    print('非空元素计数',d1.count())
    print('min',d1.min())
    print('max',d1.max())
    print('最小值位置',d1.idxmin())
    print('最大值位置',d1.idxmax())
    print('10%分数位置',d1.quantile(0.1))
    print('求和',d1.sum())
    print('均值',d1.mean())
    print('中位数',d1.median())
    print('众数',d1.mode().head(),'...')
    print('方差',d1.var())
    print('标准差',d1.std())
    print('平均绝对偏差',d1.mad())
    print('偏度',d1.skew())
    print('峰度',d1.kurt())
    print('描述性统计指标',d1.describe())# 只能在Seriel 和 DataFrame上使用
    
def myStatistics():
    def stats(x):
        return pd.Series([x.count(),x.min(),x.idxmin(),x.quantile(),x.median(),x.quantile(0.75),
                         x.mean(),x.max(),x.idxmax(),x.mad(),x.var(),x.std(),x.skew(),x.kurt()],
                        index=['count','min','idxmin','quantile','median','quantile',
                               'mean','max','idxmax','mad','var','std','skew','kurt'])
    print(stats(d1))
#     print(np.array([d1,d2,d3])[:,:4])
    df = pd.DataFrame(np.array([d1,d2,d3]).T, columns=['x1','x2','x3'])
    print(df.head(),'\n',df.apply(stats)) # 将DataFramed每一列带入函数,统计每一列(Series)的数据
    print(student['Sex'].describe()) # 统计离散数据
    print(student.describe(),' <student.describe()')
    print(df.corr(),' <df.corr()')# 相关系数corr 协方差矩阵cov
    print(df.corr('pearson')," <df.corr('pearson')")# 相关系数 pearson kendell spearman
    # 只关注一个变量于其余变量的关系
    print(df.corrwith(df['x1']))
    # 协方差矩阵
    print(df.cov(),' <head(),df.cov().head()')
    


statistics()
myStatistics()

非空元素计数 100
min -1.4457280227908536
max 8.182962879401638
最小值位置 77
最大值位置 43
10%分数位置 0.8284511114578204
求和 320.2106768762329
均值 3.202106768762329
中位数 3.2003198882445165
众数 0   -1.445728
1   -1.272539
2   -1.008626
3   -0.068813
4    0.024576
dtype: float64 ...
方差 3.869429558614962
标准差 1.967086566121319
平均绝对偏差 1.5512943683169227
偏度 0.004978307677648487
峰度 -0.05053312907563878
描述性统计指标 count    100.000000
mean       3.202107
std        1.967087
min       -1.445728
25%        1.786987
50%        3.200320
75%        4.625533
max        8.182963
dtype: float64
count       100.000000
min          -1.445728
idxmin       77.000000
quantile      3.200320
median        3.200320
quantile      4.625533
mean          3.202107
max           8.182963
idxmax       43.000000
mad           1.551294
var           3.869430
std           1.967087
skew          0.004978
kurt         -0.050533
dtype: float64
         x1        x2    x3
0  3.632922  1.178917  94.0
1  1.127295  7.347663  79.0
2  4.622389  0.304496  87.0
3  0.026839  0.407456  87.0
4  3.553883  0.078710   8.0
                   x1          x2          x3
count     100.000000  100.000000  100.000000
min        -1.445728    0.012238    2.000000
idxmin     77.000000   68.000000   25.000000
quantile    3.200320    0.735140   52.000000
median      3.200320    0.735140   52.000000
quantile    4.625533    1.823525   75.500000
mean        3.202107    2.474331   52.560000
max         8.182963   50.968260   97.000000
idxmax     43.000000    7.000000   56.000000
mad         1.551294    2.784991   22.300000
var         3.869430   43.276383  696.854949
std         1.967087    6.578479   26.398010
skew        0.004978    5.779840   -0.149909
kurt       -0.050533   36.838201   -1.086860
count     19
unique     2
top        M
freq      10
Name: Sex, dtype: object
             Age     Height      Weight
count  19.000000  19.000000   19.000000
mean   13.315789  62.336842  100.026316
std     1.492672   5.127075   22.773933
min    11.000000  51.300000   50.500000
25%    12.000000  58.250000   84.250000
50%    13.000000  62.800000   99.500000
75%    14.500000  65.900000  112.250000
max    16.000000  72.000000  150.000000  <student.describe()
          x1        x2        x3
x1  1.000000 -0.102674  0.002371
x2 -0.102674  1.000000  0.037799
x3  0.002371  0.037799  1.000000  <df.corr()
          x1        x2        x3
x1  1.000000 -0.102674  0.002371
x2 -0.102674  1.000000  0.037799
x3  0.002371  0.037799  1.000000  <df.corr('pearson')
x1    1.000000
x2   -0.102674
x3    0.002371
dtype: float64
          x1         x2          x3
x1  3.869430  -1.328649    0.123115
x2 -1.328649  43.276383    6.564198
x3  0.123115   6.564198  696.854949  <head(),df.cov().head()

## 5 利用pandas实现sql操作

In [9]:
import pandas as pd, numpy as np

print("\n增加行")
dic = {'Name':['LiuShunxiang','Zhangshan'],'Sex':['M','F'],'Age':[27,23],'Height':[165.7,167.2],'Weight':[61,63]}
student2 = pd.DataFrame(dic)
print(student2)

student3 = pd.concat([student,student2],sort = False)
print(student3)

print("\n增加列")
print(pd.DataFrame(student2,columns=['Age','Height','Name','Sex','Weight','Score']))

# print('删除整个DataFrame')
# del student2
# print(student2)

print("\n删除指定行")
print(student.drop([0,1,3,6]))

print("\n根据布尔索引删除行")
print(student[student['Age']>14])

print('\n删除指定列')
print(student.drop(['Height','Weight'],axis=1).head())

print('\n修改记录')
student3.loc[student3['Name'] == 'LiuShunxiang','Height']=173
print(student3[student3['Name'] == 'LiuShunxiang'][['Name','Height']])

print('\n数据聚合')
print(student.groupby('Sex').mean())
print(student.drop('Age',axis=1).groupby('Sex').mean(),' <去除列')
print(student.groupby(['Sex','Age']).mean(),' <多分组')
print(student.groupby(['Sex','Age']).agg([np.mean,np.median]),' <多分组 多统计')

增加行
           Name Sex  Age  Height  Weight
0  LiuShunxiang   M   27   165.7      61
1     Zhangshan   F   23   167.2      63
    Age  Height          Name Sex  Weight
0    14    69.0        Alfred   M   112.5
1    13    56.5         Alice   F    84.0
2    13    65.3       Barbara   F    98.0
3    14    62.8         Carol   F   102.5
4    14    63.5         Henry   M   102.5
5    12    57.3         James   M    83.0
6    12    59.8          Jane   F    84.5
7    15    62.5         Janet   F   112.5
8    13    62.5       Jeffrey   M    84.0
9    12    59.0          John   M    99.5
10   11    51.3         Joyce   F    50.5
11   14    64.3          Judy   F    90.0
12   12    56.3        Louise   F    77.0
13   15    66.5         Marry   F   112.0
14   16    72.0        Philip   M   150.0
15   12    64.8        Robert   M   128.0
16   15    67.0        Ronald   M   133.0
17   11    57.5        Thomas   M    85.0
18   15    66.5        Willam   M   112.0
0    27   165.7  LiuShunxiang   M    61.0
1    23   167.2     Zhangshan   F    63.0

增加列
   Age  Height          Name Sex  Weight  Score
0   27   165.7  LiuShunxiang   M      61    NaN
1   23   167.2     Zhangshan   F      63    NaN

删除指定行
    Age  Height     Name Sex  Weight
2    13    65.3  Barbara   F    98.0
4    14    63.5    Henry   M   102.5
5    12    57.3    James   M    83.0
7    15    62.5    Janet   F   112.5
8    13    62.5  Jeffrey   M    84.0
9    12    59.0     John   M    99.5
10   11    51.3    Joyce   F    50.5
11   14    64.3     Judy   F    90.0
12   12    56.3   Louise   F    77.0
13   15    66.5    Marry   F   112.0
14   16    72.0   Philip   M   150.0
15   12    64.8   Robert   M   128.0
16   15    67.0   Ronald   M   133.0
17   11    57.5   Thomas   M    85.0
18   15    66.5   Willam   M   112.0

根据布尔索引删除行
    Age  Height    Name Sex  Weight
7    15    62.5   Janet   F   112.5
13   15    66.5   Marry   F   112.0
14   16    72.0  Philip   M   150.0
16   15    67.0  Ronald   M   133.0
18   15    66.5  Willam   M   112.0

删除指定列
   Age     Name Sex
0   14   Alfred   M
1   13    Alice   F
2   13  Barbara   F
3   14    Carol   F
4   14    Henry   M

修改记录
           Name  Height
0  LiuShunxiang   173.0

数据聚合
           Age     Height      Weight
Sex
F    13.222222  60.588889   90.111111
M    13.400000  63.910000  108.950000
        Height      Weight
Sex
F    60.588889   90.111111
M    63.910000  108.950000  <去除列
            Height  Weight
Sex Age
F   11   51.300000   50.50
    12   58.050000   80.75
    13   60.900000   91.00
    14   63.550000   96.25
    15   64.500000  112.25
M   11   57.500000   85.00
    12   60.366667  103.50
    13   62.500000   84.00
    14   66.250000  107.50
    15   66.750000  122.50
    16   72.000000  150.00  <多分组
            Height         Weight
              mean median    mean  median
Sex Age
F   11   51.300000  51.30   50.50   50.50
    12   58.050000  58.05   80.75   80.75
    13   60.900000  60.90   91.00   91.00
    14   63.550000  63.55   96.25   96.25
    15   64.500000  64.50  112.25  112.25
M   11   57.500000  57.50   85.00   85.00
    12   60.366667  59.00  103.50   99.50
    13   62.500000  62.50   84.00   84.00
    14   66.250000  66.25  107.50  107.50
    15   66.750000  66.75  122.50  122.50
    16   72.000000  72.00  150.00  150.00  <多分组

In [14]:
import pandas as pd, numpy as np

Data = pd.Series(np.array(np.random.randint(1,20,10)))
print('\n排序')
print(Data)
print(Data.sort_index(ascending=False))
print(Data.sort_values(ascending=False))

print(student.sort_values(by = ['Age','Height']))

排序
0    18
1    17
2    10
3    17
4     9
5    17
6    14
7    15
8    16
9    19
dtype: int32
9    19
8    16
7    15
6    14
5    17
4     9
3    17
2    10
1    17
0    18
dtype: int32
9    19
0    18
5    17
3    17
1    17
8    16
7    15
6    14
2    10
4     9
dtype: int32
    Age  Height     Name Sex  Weight
10   11    51.3    Joyce   F    50.5
17   11    57.5   Thomas   M    85.0
12   12    56.3   Louise   F    77.0
5    12    57.3    James   M    83.0
9    12    59.0     John   M    99.5
6    12    59.8     Jane   F    84.5
15   12    64.8   Robert   M   128.0
1    13    56.5    Alice   F    84.0
8    13    62.5  Jeffrey   M    84.0
2    13    65.3  Barbara   F    98.0
3    14    62.8    Carol   F   102.5
4    14    63.5    Henry   M   102.5
11   14    64.3     Judy   F    90.0
0    14    69.0   Alfred   M   112.5
7    15    62.5    Janet   F   112.5
13   15    66.5    Marry   F   112.0
18   15    66.5   Willam   M   112.0
16   15    67.0   Ronald   M   133.0
14   16    72.0   Philip   M   150.0

多表连接
      Name  Score
0   Alfred     88
1    Alice     76
2  Barbara     89
3    Carol     67
4    Henry     79
5  Jeffrey     90
6     Judy     92
7   Philip     86
8   Robert     73
9   Willam     77

In [28]:
import pandas as pd, numpy as np
print('\n多表连接')
dic2 = {
    'Name':['Alfred','Alice','Barbara','Carol','Henry','Jeffrey','Judy','Philip','Robert','Willam','lalala'],
    'Score':[88,76,89,67,79,90,92,86,73,77,66]
}
score = pd.DataFrame(dic2)
print(score)

stu_score1 = pd.merge(student,score,on = 'Name')
print(stu_score1 )

stu_score2 = pd.merge(student,score,on='Name',how='left')
print(stu_score2,' <左连接')
att = """ 
默认为内连接 两表共有数据
left为左连接 仅左表数据 无匹配留空
right为右连接 仅右表数据 无匹配留空
outer为外连接 (全连接?)
"""

多表连接
       Name  Score
0    Alfred     88
1     Alice     76
2   Barbara     89
3     Carol     67
4     Henry     79
5   Jeffrey     90
6      Judy     92
7    Philip     86
8    Robert     73
9    Willam     77
10   lalala     66
   Age  Height     Name Sex  Weight  Score
0   14    69.0   Alfred   M   112.5     88
1   13    56.5    Alice   F    84.0     76
2   13    65.3  Barbara   F    98.0     89
3   14    62.8    Carol   F   102.5     67
4   14    63.5    Henry   M   102.5     79
5   13    62.5  Jeffrey   M    84.0     90
6   14    64.3     Judy   F    90.0     92
7   16    72.0   Philip   M   150.0     86
8   12    64.8   Robert   M   128.0     73
9   15    66.5   Willam   M   112.0     77
    Age  Height     Name Sex  Weight  Score
0    14    69.0   Alfred   M   112.5   88.0
1    13    56.5    Alice   F    84.0   76.0
2    13    65.3  Barbara   F    98.0   89.0
3    14    62.8    Carol   F   102.5   67.0
4    14    63.5    Henry   M   102.5   79.0
5    12    57.3    James   M    83.0    NaN
6    12    59.8     Jane   F    84.5    NaN
7    15    62.5    Janet   F   112.5    NaN
8    13    62.5  Jeffrey   M    84.0   90.0
9    12    59.0     John   M    99.5    NaN
10   11    51.3    Joyce   F    50.5    NaN
11   14    64.3     Judy   F    90.0   92.0
12   12    56.3   Louise   F    77.0    NaN
13   15    66.5    Marry   F   112.0    NaN
14   16    72.0   Philip   M   150.0   86.0
15   12    64.8   Robert   M   128.0   73.0
16   15    67.0   Ronald   M   133.0    NaN
17   11    57.5   Thomas   M    85.0    NaN
18   15    66.5   Willam   M   112.0   77.0  <左连接

## 6 利用pandas进行缺失值处理
- **删除法** 数据中某个变量*大部分*值都是缺失的可删除变量，缺失值*随机分布* 缺失数量不是很多也可删除这些缺失的观测。
- **替补法** 对*连续*型变量，分布近似*正态分布*可以用均值替代缺失值；如果变量是有偏的，可以用中位数替代缺失值；如果是离散变量，用众数替代缺失值。
- **插补法** *蒙塔卡洛模拟法*，结合线性模型/广义线性模型/决策树等方法计算出来的预测值替换缺失值

In [36]:
s = stu_score2['Score']
print(sum(pd.isnull(s)))

9

In [43]:
import numpy as np, pandas as pd
df = pd.DataFrame([[1,1,2],[3,5,np.nan],[13,21,34],[55,np.nan,10],[np.nan,np.nan,np.nan],[np.nan,1,2]],columns=['x1','x2','x3'])
print(df)
print(df.dropna(),' <删除缺失')
print(df.fillna(0),' <填补缺失')

print('\n',df.fillna(method='ffill'),' <前向填充')
print('\n',df.fillna(method='bfill'),' <后向填充')

print(df.fillna({'x1':1,'x2':2,'x3':3}),' <不同列填充不同常量')

x1    x2    x3
0   1.0   1.0   2.0
1   3.0   5.0   NaN
2  13.0  21.0  34.0
3  55.0   NaN  10.0
4   NaN   NaN   NaN
5   NaN   1.0   2.0
     x1    x2    x3
0   1.0   1.0   2.0
2  13.0  21.0  34.0  <删除缺失
     x1    x2    x3
0   1.0   1.0   2.0
1   3.0   5.0   0.0
2  13.0  21.0  34.0
3  55.0   0.0  10.0
4   0.0   0.0   0.0
5   0.0   1.0   2.0  <填补缺失

      x1    x2    x3
0   1.0   1.0   2.0
1   3.0   5.0   2.0
2  13.0  21.0  34.0
3  55.0  21.0  10.0
4  55.0  21.0  10.0
5  55.0   1.0   2.0  <前向填充

      x1    x2    x3
0   1.0   1.0   2.0
1   3.0   5.0  34.0
2  13.0  21.0  34.0
3  55.0   1.0  10.0
4   NaN   1.0   2.0
5   NaN   1.0   2.0  <后向填充
     x1    x2    x3
0   1.0   1.0   2.0
1   3.0   5.0   3.0
2  13.0  21.0  34.0
3  55.0   2.0  10.0
4   1.0   2.0   3.0
5   1.0   1.0   2.0  <不同列填充不同常量

## 7 利用pandas实现Excel的数据透视表功能

pivot_table()函数

<pre>
pivot_table(data,values=None,
            index=None,
            columns=None,
            aggfunc='mean',
            fill_value=None,
            margins=False,
            dropna=True,
            margins_name='All')
</pre>

- data：需要进行数据透视表操作的数据框
- values：指定需要聚合的字段
- index：指定某些原始变量作为行索引
- columns：指定哪些离散的分组变量
- aggfunc：指定相应的聚合函数
- fill_value：使用一个常数替代缺失值，默认不替换
- margins：是否进行行或列的汇总，默认不汇总
- dropna：默认所有观测为缺失的列
- margins_name：默认行汇总或列汇总的名称为'All'

有关更多数据透视表的操作，可参考《Pandas透视表（pivot_table）详解》一文，链接地址：http://python.jobbole.com/81212/

In [59]:
Table1 = pd.pivot_table(student, values= ['Height'], columns=['Sex'])
print(Table1,' <\n')
Table2 = pd.pivot_table(student, values=['Height','Weight'], columns=['Sex'])
print(Table2,' <多变量统计\n')
Table3 = pd.pivot_table(student, values=['Height','Weight'], columns=['Sex','Age'])
print(Table3,' <分组 多变量统计\n')
Table4 = pd.pivot_table(student, values=['Height','Weight'], columns=['Sex','Age']).unstack()
print(Table4,' <非堆叠操作(格式)\n')
Table4 = pd.pivot_table(student, values=['Height','Weight'], columns=['Sex'],aggfunc=[np.mean,np.median,np.std])
print(Table4,' <多聚合函数\n')

Sex             F      M
Height  60.588889  63.91  <

Sex             F       M
Height  60.588889   63.91
Weight  90.111111  108.95  <多变量统计

        Sex  Age
Height  F    11      51.300000
             12      58.050000
             13      60.900000
             14      63.550000
             15      64.500000
        M    11      57.500000
             12      60.366667
             13      62.500000
             14      66.250000
             15      66.750000
             16      72.000000
Weight  F    11      50.500000
             12      80.750000
             13      91.000000
             14      96.250000
             15     112.250000
        M    11      85.000000
             12     103.500000
             13      84.000000
             14     107.500000
             15     122.500000
             16     150.000000
dtype: float64  <分组 多变量统计

Age           11          12    13      14      15     16
       Sex
Height F    51.3   58.050000  60.9   63.55   64.50    NaN
       M    57.5   60.366667  62.5   66.25   66.75   72.0
Weight F    50.5   80.750000  91.0   96.25  112.25    NaN
       M    85.0  103.500000  84.0  107.50  122.50  150.0  <非堆叠操作(格式)

             mean         median                std
Sex             F       M      F       M          F          M
Height  60.588889   63.91   62.5   64.15   5.018328   4.937937
Weight  90.111111  108.95   90.0  107.25  19.383914  22.727186  <多聚合函数

## 8 多层索引的使用

In [80]:
import pandas as pd, numpy as np
s = pd.Series(np.arange(1,10), index=[['a','a','a','b','b','c','c','d','d'],[1,2,3,1,2,3,1,2,3]])# 会合并相同的索引
print(s)
print(s.index)
print(s['a']," <s['a']")
print(s['a',1]," <s['a',1]")
print(s['a'][[1,3]]," <s['a'][[1,3]]")

print(s[['a','c']]," <s[['a','c']]")
print(s[['b','d']]," <s[['b','d']]")
print(s[[1,3]]," <s[[1,3]]")# 行索引 都是行索引

a  1    1
   2    2
   3    3
b  1    4
   2    5
c  3    6
   1    7
d  2    8
   3    9
dtype: int32
MultiIndex(levels=[['a', 'b', 'c', 'd'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 2, 0, 1, 2, 0, 1, 2]])
1    1
2    2
3    3
dtype: int32  <s['a']
1  <s['a',1]
1    1
3    3
dtype: int32  <s['a'][[1,3]]
a  1    1
   2    2
   3    3
c  3    6
   1    7
dtype: int32  <s[['a','c']]
b  1    4
   2    5
d  2    8
   3    9
dtype: int32  <s[['b','d']]
a  2    2
b  1    4
dtype: int32  <s[[1,3]]

In [98]:
import pandas as pd, numpy as np
data = pd.DataFrame(np.random.randint(0,150,size=(8,12)),
                    columns = pd.MultiIndex.from_product([
                        ['模拟考','正式考'],
                        ['数学','语文','英语','物理','化学','生物']
                    ]),
                    index = pd.MultiIndex.from_product([
                        ['期中','期末'],
                        ['雷军','李斌'],
                        ['测试一','测试二']
                    ])
                )
data
# print(data)

           模拟考                           正式考
            数学   语文   英语   物理   化学   生物   数学   语文   英语   物理   化学   生物
期中 雷军 测试一    8    2   70  114  139   99   58  110   65   47   63    7
      测试二   15   32   66   42  145   53   60   19  109  135   61   51
   李斌 测试一   10  149  141   10   62   53   87   61  113   60   16  128
      测试二    5  112   90   30   72   93    4   73  133  111   19   72
期末 雷军 测试一   25   12  141   71   55  140  109  138   23   20   94   52
      测试二   96   80   32   16   52   59    9   79    6   26  102   23
   李斌 测试一   83   42   93  124   38  105   79  134  131   57  129  116
      测试二  111  147   44   76   19   28   75  147  143   15  122  123

In [97]:
data['模拟考'][['语文','数学']]
# print(data['模拟考'][['语文','数学']])

            语文   数学
期中 雷军 测试一   71   19
      测试二   10   70
   李斌 测试一  111  120
      测试二   67  129
期末 雷军 测试一  142   61
      测试二  108  108
   李斌 测试一   17  105
      测试二   15   29

In [102]:
print(data.loc['期中','雷军','测试一']," <data.loc['期中','雷军','测试一']\n")
print(data.iloc[0]," <data.iloc[0]\n")# 即第一行数据 包含所有的嵌套单元格
print(data['正式考']," <data['正式考']")# 列索引

模拟考  数学      8
     语文      2
     英语     70
     物理    114
     化学    139
     生物     99
正式考  数学     58
     语文    110
     英语     65
     物理     47
     化学     63
     生物      7
Name: (期中, 雷军, 测试一), dtype: int32  <data.loc['期中','雷军','测试一']

模拟考  数学      8
     语文      2
     英语     70
     物理    114
     化学    139
     生物     99
正式考  数学     58
     语文    110
     英语     65
     物理     47
     化学     63
     生物      7
Name: (期中, 雷军, 测试一), dtype: int32  <data.iloc[0]

            数学   语文   英语   物理   化学   生物
期中 雷军 测试一   58  110   65   47   63    7
      测试二   60   19  109  135   61   51
   李斌 测试一   87   61  113   60   16  128
      测试二    4   73  133  111   19   72
期末 雷军 测试一  109  138   23   20   94   52
      测试二    9   79    6   26  102   23
   李斌 测试一   79  134  131   57  129  116
      测试二   75  147  143   15  122  123  <data['正式考']

其他操作参考 pandas官方文档：http://pandas.pydata.org/pandas-docs/version/0.17.0/whatsnew.html。